<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">
		<ui:define name="content">
			<h:form method="post" action="j_security_check">
				Username:<h:inputText id="j_username" autocomplete ="off"/>
				Password: <h:inputSecret id="j_password" autocomplete ="off"/>
				<h:commandButton action="#{loginController.onSubmit()}" value="Submit" />
			</h:form>
			
		</ui:define>
	</ui:composition>
</body>
</html>