<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition>
		<h5>Copyright The Car Store (2021)</h5>
	</ui:composition>
</html>